<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>post.html</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="/public/lib/bootstrap-4.6.0-dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/addFriendLink.css">
    <!-- <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/post.css"> -->
</head>
<body>
    <!-- 顶部导航 -->
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg text-light mb-4">
        <div class="container-fluid">
            <a class="navbar-brand" href="https://www.luoluolzb.cn">
                <img src="https://www.luoluolzb.cn/static/images/favicon-white.png" width="32">
            </a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item mr-2 active">
                        <a class="nav-link" href="https://www.luoluolzb.cn">
                            <i class="fa fa-home"></i> 首页
                        </a>
                    </li>
                    <li class="nav-item mr-2 ">
                        <a class="nav-link" href="https://www.luoluolzb.cn/articles">
                            <i class="fa fa-list-ul"></i> 博客
                        </a>
                    </li>
                    <li class="nav-item mr-2 ">
                        <a class="nav-link" href="https://www.luoluolzb.cn/product">
                            <i class="fa fa-play-circle"></i> 作品
                        </a>
                    </li>
                    <li class="nav-item mr-2 ">
                        <a class="nav-link" href="https://www.luoluolzb.cn/guestbook">
                            <i class="fa fa-desktop"></i> 留言板
                        </a>
                    </li>
                    <li class="nav-item mr-2 ">
                        <a class="nav-link" href="https://www.luoluolzb.cn/friend_links">
                            <i class="fa fa-chain"></i> 友情链接
                        </a>
                    </li>
                    <li class="nav-item mr-2 ">
                        <a class="nav-link" href="https://www.luoluolzb.cn/timeaxis">
                            <i class="fa fa-arrows-v"></i> 时光轴
                        </a>
                    </li>
                </ul>

                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item mr-2">
                        <a class="nav-link" href="https://www.luoluolzb.cn/login?redirect_url=https%3A%2F%2Fwww.luoluolzb.cn">
                            <i class="fa fa-sign-in"></i> 登录
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.luoluolzb.cn/register?redirect_url=https%3A%2F%2Fwww.luoluolzb.cn">
                            <i class="fa fa-plus"></i> 注册
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- 主要内容 -->
    <div class="container">
        <!-- 面包屑导航 -->
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">当前位置：首页</li>
            <li class="breadcrumb-item active" aria-current="page">修改友情链接</li>
          </ol>
        </nav>
        <h4 class="text-left friend-link-title">修改友情链接</h4>
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">friend name</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">friend link</label>
            <input type="text" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">friend Info</label>
            <input type="text" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="form-group form-check text-right">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary">click to modify</button>
          </div>
        </form>
    </div>
</body>
<script src="/public/js/jquery.js"></script>
<script src="/public/lib/bootstrap-4.6.0-dist/js/bootstrap.bundle.min.js"></script>
</html>