<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>selfInfo.html</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="/public/lib/bootstrap-4.6.0-dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/public/css/index.css">
    </head>
<body>
    <!-- <div class="contain">
        <h1 class="title">{{ title }}</h1>
        <p class="contain-item">我叫{{ name }}</p>
        <p class="contain-item">我今年{{ age }}岁了</p>
        <p class="contain-item">我喜欢{{ each hobbies}} {{ $value }} {{ /each }}</p>
        <p class="contain-item"> <a href= {{link}}>这是我的微博链接:</a></p>
        {{ each friends}}
            <p class="contain-item">友情链接：
                <a href="{{ $value.link }}">{{ $value.name }}: {{ $value.link }}</a>
            </p>
        {{ /each }}
        <p class="contain-item">
            <a href="/post" class="button">点击添加友情链接</a>
        </p>
        <p class="contain-item">
            <a href="/student" class="button">点击转入用户列表</a>
        </p>
    </div> -->
    <!-- 顶部导航 -->
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg text-light mb-4">
        <div class="container-fluid">
            <a class="navbar-brand" href="https://www.luoluolzb.cn">
                <img src="https://www.luoluolzb.cn/static/images/favicon-white.png" width="32">
            </a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item mr-2 active">
                        <a class="nav-link" href="https://www.luoluolzb.cn">
                            <i class="fa fa-home"></i> 首页
                        </a>
                    </li>
                    <li class="nav-item mr-2 ">
                        <a class="nav-link" href="https://www.luoluolzb.cn/articles">
                            <i class="fa fa-list-ul"></i> 博客
                        </a>
                    </li>
                    <li class="nav-item mr-2 ">
                        <a class="nav-link" href="https://www.luoluolzb.cn/product">
                            <i class="fa fa-play-circle"></i> 作品
                        </a>
                    </li>
                    <li class="nav-item mr-2 ">
                        <a class="nav-link" href="https://www.luoluolzb.cn/guestbook">
                            <i class="fa fa-desktop"></i> 留言板
                        </a>
                    </li>
                    <li class="nav-item mr-2 ">
                        <a class="nav-link" href="https://www.luoluolzb.cn/friend_links">
                            <i class="fa fa-chain"></i> 友情链接
                        </a>
                    </li>
                    <li class="nav-item mr-2 ">
                        <a class="nav-link" href="https://www.luoluolzb.cn/timeaxis">
                            <i class="fa fa-arrows-v"></i> 时光轴
                        </a>
                    </li>
                </ul>

                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item mr-2">
                        <a class="nav-link" href="https://www.luoluolzb.cn/login?redirect_url=https%3A%2F%2Fwww.luoluolzb.cn">
                            <i class="fa fa-sign-in"></i> 登录
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.luoluolzb.cn/register?redirect_url=https%3A%2F%2Fwww.luoluolzb.cn">
                            <i class="fa fa-plus"></i> 注册
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- 主要内容部分 -->
    <div class="container">
        <!-- 用户列表 -->
        <h5 class="text-left">个人信息</h5>
        <blockquote class="blockquote text-left">
            <a href="/student">
                <p class="mb-0">点击进入用户列表/p>
            </a>
              <footer class="blockquote-footer">本系统的用户列表</cite>
            </footer>
        </blockquote>
    </div>
</body>
    <script src="/public/js/jquery.js"></script>
    <script src="/public/lib/bootstrap-4.6.0-dist/js/bootstrap.bundle.min.js"></script>
</html>