.friends-card {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card {
    width: 240px;
    margin-bottom: 20px;
}
.friends-card .card .card-body {
    padding-bottom: 60px;
}
.friends-card .friends-info {
    font-size: 14px;
    text-align: justify;
}
.friends-card-btn {
    position: absolute;
    right: 20px;
    bottom: 20px;
}